<form method="post">
	<input type="hidden" name="action" value="pbl.generate">
	<div class="form-group row">
		<label for="formTitle" class="col-sm-12 col-form-label">Driving Question Setup: (Initial Stage)</label>
	</div>
	<div class="form-group row">
		<label for="pblTitle" class="col-sm-2 col-form-label">PBL Title:</label>
		<div class="col-sm-10">
			<input type="text" name="title" class="form-control" id="inputTitle" placeholder="Give a Title for your idea.....">
		</div>
	</div>
	<div class="form-group row">
		<label for="ideaDescription" class="col-md-2">Description:</label>
		<div class="col-sm-10">
			<textarea name="description" class="form-control" id="ideaGen" rows="3"></textarea>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-10">
			<button type="submit" class="btn btn-primary">Generate Project</button>
		</div>
	</div>
</form>
