.calendar.exception.type-next-available-appointment .message>a,
.calendar.exception.type-no-selected-insurance .message>a,
.calendar.exception.type-integration_8 .message>a,
.appointment {
  cursor:pointer;
  color:#fff;
  display:-moz-inline-stack;
  display:inline-block;
  vertical-align:middle;
  *vertical-align:auto;
  zoom:1;
  *display:inline;
  padding:.2em 1em;
  font-family:Gudea,
  Arial,
  sans-serif;
  font-size:16px !important;
  /*font-size:1rem;*/
  text-align:center;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 2px 3px rgba(0, 0, 0, .1), inset 0 1px 1px rgba(255, 255, 255, .1);
  -moz-box-shadow:0 2px 3px rgba(0, 0, 0, .1), inset 0 1px 1px rgba(255, 255, 255, .1);
  box-shadow:0 2px 3px rgba(0, 0, 0, .1), inset 0 1px 1px rgba(255, 255, 255, .1);
}

.calendar.exception.type-next-available-appointment .message>a.large,
.calendar.exception.type-no-selected-insurance .message>a.large,
.calendar.exception.type-integration_8 .message>a.large,
.large.appointment {
  font-size:16px !important;
  /*font-size:1rem;*/
  line-height:24px;
  line-height:1.5rem;
  font-weight:700;
  padding:0 32px;
  padding:0rem 2rem;
  height:40px;
  height:2.5rem
}

.calendar.exception.type-next-available-appointment .message>a:active,
.calendar.exception.type-no-selected-insurance .message>a:active,
.calendar.exception.type-integration_8 .message>a:active,
.appointment:active {
  box-shadow:none;
}

.calendar .date,
.calendar .day{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.calendar{
  position:relative;
  overflow:hidden;
  margin-top:15px
}
.calendar .wrapper{
  width:1000em;
  height:100%;
  padding-left:17.6px;
  padding-left:1.1rem
}
.calendar .col{
  float:left;
  width:64px;
  /*width:4rem;*/
  height:100%;
  margin-right:2.4px;
  margin-right:.15rem
}
.calendar .col .col-header{
  font-size:12px !important;
  /*font-size:.75rem;*/
  line-height:16px;
  line-height:1rem;
  text-align:center;
  margin:0;
  padding:2.672px 0;
  padding:.167rem 0rem;
  background:#f5f5f5
}
.calendar .col .col-header:after{
  content:"";
  display:table;
  clear:both
}
.calendar .date{
  font-weight:700
}
.calendar .day{
  text-transform:uppercase;
  margin-right:2.672px;
  margin-right:.167rem
}
.calendar .arrow{
  width:16px;
  width:1rem;
  background:#f5f5f5;
  height:100%;
  position:absolute;
  top:0;
  bottom:0;
  font-weight:900;
  font-size:16px !important;
  /*font-size:1rem;*/
  line-height:24px;
  line-height:1.5rem;
  text-align:center;
  color:#0090d6;
  cursor:pointer;
  -webkit-transition:opacity .4s linear;
  -moz-transition:opacity .4s linear;
  -o-transition:opacity .4s linear;
  transition:opacity .4s linear
}
.calendar .arrow:after{
  font-family:icomoonregular;
  left:0;
  width:100%;
  height:100%;
  top:0;
  position: absolute;
  text-align: center;
  vertical-align: middle;
}
.calendar .arrow.disabled{
  color:#ccc;
  cursor:default
}
.calendar .arrow:before{
  content:" ";
  display:block;
  position:absolute;
  height:100%;
  top:0;
  width:20px;
}
.calendar .arrow.left{
  left:0
}
.calendar .arrow.left:after{
  content:"\e3b3";
}
.calendar .arrow.left:before{
  left:-100%;
  margin-left:100%;
  background:-webkit-gradient(linear, 100% 50%, 0 50%, color-stop(20%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, .1)), color-stop(100%, rgba(255, 255, 255, .9)));
  background:-webkit-linear-gradient(right, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .9));
  background:-moz-linear-gradient(right, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .9));
  background:-o-linear-gradient(right, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .9));
  background:linear-gradient(right, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .9));
  background:-ms-linear-gradient(right, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .9));
}
.calendar .arrow.left.disabled:after{
  display:none
}
.calendar .arrow.right{
  right:0
}
.calendar .arrow.right:after{
  content:"\e3b1"
}
.calendar .arrow.right:before{
  right:-100%;
  margin-right:100%;
  background:-webkit-gradient(linear, 0 50%, 100% 50%, color-stop(20%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, .1)), color-stop(100%, rgba(255, 255, 255, .9)));
  background:-webkit-linear-gradient(left, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .9));
  background:-moz-linear-gradient(left, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .9));
  background:-o-linear-gradient(left, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .9));
  background:linear-gradient(left, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .9));
  background:-ms-linear-gradient(left, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .9));
}
.calendar.exception .col{
  height:160px;
  height:10rem;
  background:#f5f5f5;
  width:5.85%;
  margin-right: 0.4%;
}
.calendar.exception.type-custom-message .arrow,
.calendar.exception.type-no-selected-insurance .arrow,
.calendar.exception.type-integration_8 .arrow,
.calendar.exception.type-no-available-appointments .arrow{
  pointer-events:none;
  color:#ccc
}
.calendar.exception.type-custom-message .arrow:before,
.calendar.exception.type-no-selected-insurance .arrow:before,
.calendar.exception.type-integration_8 .arrow:before,
.calendar.exception.type-no-available-appointments .arrow:before{
  background:#fff;
  width:2px;
  left:-1px
}
.calendar.exception .action{
  position:absolute;
  background:#fff;
  left:48px;
  left:3rem;
  right:48px;
  right:3rem;
  top:80px;
  top:5rem;
  margin-top:-24px;
  margin-top:-1.5rem;
  height:48px;
  height:3rem;
  line-height:48px;
  line-height:3rem
}
.calendar.exception .action .message{
  text-align:center;
  margin:auto
}
.calendar.exception.type-no-available-appointments .action{
  font-weight:700
}
.calendar.exception.type-custom-message .action{
  line-height:24px;
  line-height:1.5rem
}
.calendar.exception.type-custom-message .phone{
  font-weight:700
}
.calendar.exception.type-next-available-appointment .message>a,
.calendar.exception.type-no-selected-insurance .message>a,
.calendar.exception.type-integration_8 .message>a{
  border:1px solid #0090d6;
  border-radius:2px;
  background:#0090d6;
  border-radius:2px;
  line-height:24px;
  line-height:1.5rem
}
.calendar.exception.type-next-available-appointment .message>a:hover,
.calendar.exception.type-no-selected-insurance .message>a:hover,
.calendar.exception.type-integration_8 .message>a:hover{
  background:#0aafff
}
.calendar.exception.type-next-available-appointment .message>a{
  margin-left:16px;
  margin-left:1rem
}
.calendar.exception.type-next-available-appointment.hide-action .action{
  filter:alpha(Opacity=0);
  opacity:0;
  -webkit-transition:opacity 1s linear;
  -moz-transition:opacity 1s linear;
  -o-transition:opacity 1s linear;
  transition:opacity 1s linear
}
.calendar.exception.type-next-available-appointment .message>a,
.calendar.exception.type-integration_8 .message>a{
  margin-right:16px;
  margin-right:1rem;
  margin-top:8px;
  margin-top:.5rem;
  float:left
}
.calendar.exception.type-next-available-appointment.small .message a,
.calendar.exception.type-next-available-appointment.medium .message a,
.calendar.exception.type-integration_8.small .message a,
.calendar.exception.type-integration_8.medium .message a{
  margin-top:0;
  margin-left:8px;
  margin-left:.5rem
}
.calendar.exception.type-next-available-appointment.small .message div,
.calendar.exception.type-next-available-appointment.medium .message div,
.calendar.exception.type-integration_8.small .message div,
.calendar.exception.type-integration_8.medium .message div{
  line-height:16px;
  line-height:1rem;
  margin-top:8px;
  margin-top:.5rem;
  font-size:14px !important;
  /*font-size:.875rem;*/
  line-height:18px;
  line-height:1.125rem
}
.calendar.exception.type-next-available-appointment.small .action,
.calendar.exception.type-integration_8.small .action{
  height:80px;
  height:5rem;
  margin-top:-56px;
  margin-top:-3.5rem
}
.calendar.exception.type-next-available-appointment.small .action .message a,
.calendar.exception.type-integration_8.small .action .message a{
  font-size:14px !important;
  /*font-size:.875rem;*/
  line-height:18px;
  line-height:1.125rem;
  float:none
}
.calendar.exception.type-next-available-appointment.small .action .message div,
.calendar.exception.type-integration_8.small .action .message div{
  font-size:12px !important;
  /*font-size:.75rem;*/
  line-height:16px;
  line-height:1rem;
  margin-top:0
}
.calendar.exception.type-next-available-appointment .message>a{
  float:right
}
.calendar.exception.type-no-selected-insurance{
  height:160px;
  height:10rem
}
.calendar.exception.type-no-selected-insurance .action{
  margin-top:-48px;
  margin-top:-3rem;
  height:96px;
  height:6rem;
  line-height:44.8px;
  line-height:2.8rem
}
.calendar.exception.type-no-selected-insurance .message>a{
  line-height:16px;
  line-height:1rem;
  margin:0 16px;
  margin:0rem 1rem
}
.calendar.exception.type-integration_9 .wrapper .col,
.calendar.exception.type-integration_9 .arrow{
  filter:alpha(Opacity=25);
  opacity:.25;
  -webkit-transition:opacity .2s linear;
  -moz-transition:opacity .2s linear;
  -o-transition:opacity .2s linear;
  transition:opacity .2s linear
}
.calendar.exception.type-integration_9 .action{
  filter:alpha(Opacity=100);
  opacity:1;
  -webkit-transition:opacity .2s linear;
  -moz-transition:opacity .2s linear;
  -o-transition:opacity .2s linear;
  transition:opacity .2s linear;
  pointer-events:none
}
.calendar.exception.type-integration_9:hover .action{
  filter:alpha(Opacity=0);
  opacity:0
}
.calendar.exception.type-integration_9:hover .wrapper .col,
.calendar.exception.type-integration_9:hover .arrow{
  filter:alpha(Opacity=100);
  opacity:1
}
.appointment{
  background-color:#0090d6;
  border:1px solid #0090d6;
  border-radius:2px;
  background:#0090d6;
  color:#f2f2f2 !important;
  border-radius:2px;
  margin:4.8px 0;
  margin:.3rem 0rem;
  display:block;
  font-size:12px !important
}
.appointment:hover{
  background:#0aafff
}
.appointments{
  display:none;
  position:absolute;
  background:#fff;
  width:64px;
  width:4rem;
  padding:5px;
  left:-5px;
  border:1px solid #0090d6;
  border-radius:2px;
  top:0;
  z-index:999999;
  -webkit-box-shadow:1px 1px 5px 1px rgba(0, 0, 0, .3);
  -moz-box-shadow:1px 1px 5px 1px rgba(0, 0, 0, .3);
  box-shadow:1px 1px 5px 1px rgba(0, 0, 0, .3)
}
@media (max-width:64em){
  .calendar .arrow{
    width:20px;
    font-size:24px !important;
    font-size:1.5rem
  }
  .calendar>.wrapper{
    padding-left:33.6px;
    padding-left:2.1rem;
  }
}

.result .calendar{
  height:200px;
}
.result .calendar{
  margin-top:0;
  margin-right:0;
  height:121px;
}
.result .calendar .arrow{
  line-height:121px;
}

.owl-calendar.calendar.medium {
  height: 160px !important;
}