<div class="container">
	<h1>Sign-in as Teacher</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-6">
			{{#if teachersigninSubmitted}}
				<h3>Thanks for getting in touch.</h3>
			{{else}}
				<form method="post">
					<input type="hidden" name="action" value="user.signin">
					
					<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
						<label>Email</label>
						<input type="email" name="email" class="form-control" value="{{formData.email}}">
					</div>
					<div class="form-group {{#if validationErrors.password}}has-error{{/if}}">
						<label>Password</label>
						<input type="password" name="password" class="form-control" value="{{formData.password}}">
					</div>

					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Sign-in</button>
					</div>
				</form>
			{{/if}}
		</div>
	</div>
</div>
