<h5 style="text-align: center">Chat-Me (Real time chat for project members)</h5>
<hr>
<ul id="messages"></ul>
<form action="" id="chatForm">
	<div class="form-group row">
		<div class="col-sm-10">
			<input class="form-control" id="m" autocomplete="off" placeholder="Write a message..."/>
		</div>
		<div class="col-sm-2">
			<button type="submit" class="btn btn-primary">Enter</button>
		</div>
	</div>
</form>
