<form method="post" enctype="multipart/form-data">
	<input type="hidden" name="action" value="idea.generate">
	<div class="form-group row">
		<label for="ideaTitle" class="col-md-2 col-form-label">Title of Your Idea:</label>
		<div class="col-sm-10">
			<input type="text" name="title" class="form-control" value="{{ data.idea.title }}" placeholder="Give a Title for your idea.....">
		</div>
	</div>
	<div class="form-group row">
		<label for="ideaDescription" class="col-md-2">Description:</label>
		<div class="col-sm-10">
		<textarea name="description" class="form-control" id="ideaGen" rows="3" placeholder="Give details of your idea.....">{{ data.idea.description }}</textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="file_upload" class="col-md-12">Add More Content(Text, Image, Video):</label>
		<div class="col-sm-10">
		<textarea name="file_upload" class="form-control sir-trevor" id="file_upload">{{ data.idea.file_upload }}</textarea>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-10">
			<button type="submit" class="btn btn-primary">Idea Generate</button>
		</div>
	</div>
</form>

