{{!< default}}
<div class="container">
	<div class="jumbotron"><img src="/images/logo-email-pbl.gif" width="160">
		<h2>Why we need PBL(Project Based learning) web platform?</h2>
		<p>
			ePBL (electronic Project-based learning) platform can be ideal platform by using project-based learning(PBL) features in it.
			By the help of existing models and scientific papers about project-based learning gives the basic features of project-based
			learning and a new model from these characteristics.The main goal of this platform is knowledge construction as deep learning
			by learning through doing in real world project-based learning(PBL) tasks.
			Learners can solve real life problems and can track all their efforts, works, feed-backs, results, presentations, discussions,
			collaboration, new ideas, social networking and showcases by using electronic project-based learning(ePBL) web tool.
			This ePBL tool we also concentrate on “flow experience support” and “idea generation” for future projects.
		</p>
		<hr>
		<p>
			Our PBL platform features:
		</p>
		<b>
		<ul>
			<li>Driving questions setup by teacher with a real-life problem/ideas</li>
			<li>Idea generation at any time and transform ideas into a PBL Project</li>
			<li>Investigation process of Project which includes Task planning, Resource collections, creating Learning Agenda</li>
			<li>Documentation of Projects workflow</li>
			<li>Student and team management</li>
			<li>Flow Experience Supports</li>
			<li>Time-line metaphor, Update Notifications</li>
			<li>Online Presentation making of product output</li>
			<li>Feedback, reviews and comments facility</li>
			<li>Rich Content editor support</li>
			<li>Showcases</li>
		</ul>
		</b>
		<hr>
		<p>You can use this platform as a Teacher or Student.</p>
		<p>
			<a href="/signIn" style="margin-right: 10px" class="btn btn-lg btn-primary">
				User Sign-in
			</a>
			or
			<a href="/signUp" style="margin-right: 10px" class="btn btn-lg btn-primary">
				Sign-Up
			</a>
			to use the ePBL Platform.</p>
	</div>
</div>
